// server 폴더에서 npm start
// -> 기본 폴더에서 npm start
// -> localhost:8080 접속
// TODO: 아래 코드를 수정해 보세요
$brand-color: #2ac1bc;
$primary-color: blue;
$secondary-color: #aaa;
$white-color: #fff;

$border-color: lighten($secondary-color, 20);

$span: 4px;

